.btn {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-black);
  color: var(--color-primary);
  border-radius: 12px;
  height: 47px;
  width: 170px;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.25px;
  align-items: center;
  border: 1px solid var(--color-black);
  cursor: pointer;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 567px) {
  .btn {
    font-size: 14px;
    line-height: 16px;
    width: 140px;
    padding: 0;
  }
}

@media (max-width: 367px) {
  .btn {
    font-size: 9px;
    line-height: 14px;
    width: 120px;
  }
}
