.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-black);
  color: var(--color-white);
  padding: 12px 16px;
  border-radius: 10px;
}
.header button {
  background-color: inherit;
  border: none;
  color: var(--color-primary);
  transform: rotate(90deg);
  font-weight: 900;
  font-size: 28px;
}

.body {
  color: var(--color-black);
  border-radius: 10px;
  padding: 12px 16px;
}
