.btn {
  width: 170px;
  height: 47px;
  padding: 10px  16px 10px 16px;
  border-radius: 12px;
  border: 1px;
  color: #34c94b;
  background-color: #121212;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.25px;
  text-align: center;
  font-weight: 600;
}
