.hero {
  display: flex;
  align-items: center;
  max-width: 799px;
  margin: 24px auto 0;
  gap: 16px;
  width: 100%;
}
.hero-text {
  max-width: 559px;
  width: 72%;
  text-align: center;
  height: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  line-height: 48px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-img {
  width: 26%;
  max-width: 212px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
