/* .songs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(159px, 1fr));
  gap: 16px;
} */

.songs {
  max-width: 1384px;
  width: 96%;
  margin: 0 auto;
}
.action {
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--color-white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 30px;
}

.action button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: var(--color-primary);
}
.song-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(159px, 1fr));
  padding: 0 16px;
  width: 100%;
  column-gap: 8px;
  row-gap: 32px;
}
