.container {
  display: flex;
  width: 35vw;
}

.input {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 2px 4px;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #121212;
}
.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0.2px;
}

.btn {
  border: 1px solid #121212;
  padding: 2px 4px;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 12%;
}
.btn img {
  width: 20px;
  height: 20px;
}
